<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ggplot gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

  </style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ggplot gallery</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/edit">Edit and Run</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>ggplot gallery</h1>
    <p>Make a cool plot with <a href="http://www.r-project.org/" target="_blank">R</a> and <a href="http://docs.ggplot2.org/current/" target="_blank">ggplot2</a>.</p>
    <p><a class="btn btn-primary btn-lg" href="/edit" role="button">Run R</a></p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="http://ggplot.gallery/edit/Hiwyz" class="thumbnail">
        <img src="http://ggplot.gallery/plot/Hiwyz.svg">
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a href="http://ggplot.gallery/edit/VMunh" class="thumbnail">
        <img src="http://ggplot.gallery/plot/VMunh.svg">
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a href="http://ggplot.gallery/edit/UPO0m" class="thumbnail">
        <img src="http://ggplot.gallery/plot/UPO0m.svg">
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a href="http://ggplot.gallery/edit/PLN89" class="thumbnail">
        <img src="http://ggplot.gallery/plot/PLN89.svg">
      </a>
    </div>
  </div>
</div>
