<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ggallery - ggplot2 gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

  </style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ggallery</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>ggallery - ggplot2 gallery</h1>
    <p>Make a cool plot with R and ggplot2</p>
    <p><a class="btn btn-primary btn-lg" href="/edit" role="button">Run R</a></p>
  </div>
</div>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ggallery - ggplot2 gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ggallery</a>
    </div>
  </div>
</nav>
